---
layout: default
---
<style>
  nav {
    opacity: 0.5;
    transition: opacity 125ms;
  }

  nav:hover {
    opacity: 1.0;
  }
</style>

<div class="post-wrapper">
  <article class="post">
    <div class="post-heading">
      <h1 class="post-title">{{ page.title }}</h1>
      <time datetime="{{ page.date | date_to_xmlschema }}" class="faded">{% if page.type != 'pages' %}
        {{ page.date | date: "%B %-d, %Y" }}
        {% endif %}
      </time>
    </div>
    {{ content }}
  </article>

  <br>

  If you enjoyed this post, consider taking a few minutes to <a href="/guestbook" class="internal-link">sign the guestbook</a>.  📖

  <h3>Recent posts</h3>

  <div>
    {% for post in site.posts limit: 3 %}
    {% if post.url == page.url %}
    {% continue %}
    {% endif %}
    <div class="list-entry">
      <div><a class="internal-link" href="{{ post.url }}">{{ post.title }}</a> <span
          class="faded">({{ post.date | date: "%Y-%m-%d" }})</span></div>
      <div>{{ post.excerpt }}</div>
    </div>
    {% endfor %}
  </div>

  <footer>
    <div>Blog feed available as <a target="_blank" class="internal-link" href="/rss.xml">RSS</a> or <a target="_blank"
        class="internal-link" href="/feed.json">JSON</a> feeds.</div>
    <div class="social">
      I'm also on
      <a title='Twitter' target="_blank" rel="noreferrer" href="https://twitter.com/vaillancourtmax">Twitter</a> and
      <a title='Mastodon' target="_blank" rel="noreferrer" href="https://mstdn.io/@vaillancourtmax/">Mastodon</a>.
    </div>
  </footer>
</div>
